body {
	background: lightgrey;
	color: rgb(60, 69, 60);
	font-family: 'Spectral', serif;
}

header {		
	position: fixed;
	top: 0;
	height: 100px;
	border-top: 5px solid black;
}

span {
	display: inline-block;
}

footer {
	bottom: 0;
	height: 100px;
	overflow: auto;
	border-bottom: 5px solid black;
}

#jumbotron {
	top: 100px;
	bottom: auto;
	height: 100%;
}

#header-back-button {
	padding-left: 10px;
	padding-top: 10px;
}

#fitness-header {
	text-align: center;
}

header, #jumbotron, footer {
	background: rgba(195, 197, 195, .85);
	position: fixed;
	left: 0;
	right: 0;
}

#header-back-button a {
	text-decoration: none;
}

#header-back-button a:hover {
	color: cyan;
}

#container-additional-media span {
	margin-top: 4vh;
	margin-left: 5vw;
	margin-right: 5vw;
	border: 1px solid black;
}

#container-calories-burned, #container-pick-a-day {
	margin-top: 1vh;
	margin-bottom: 1vh;
}

#container-pick-a-day {
	border-top: 1px solid darkgrey;
	padding-top: 2vh;
}

#pick-a-day-header {
	margin-bottom: 4vh;
}

#pick-a-day-calendar{
	border: 2px solid grey;
	background: darkgrey;
	margin-left: 15vw;
	margin-right: 15vw;
	height: 400px;
	padding-top: 20px;
	padding-bottom: 2vh;	
}

#container-daily-details, #container-additional-media, 
#container-calories-burned, #container-running-total,
#container-pick-a-day, #page-header, footer{
	text-align: center;
}